<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<!--控制台地址及登录凭据-->
		<add key="consoleUrl" value="http://rpaconsole.encoo.com/" />
		<add key="userName" value="xx@test.com" />
		<!--base64保存密码防止特殊符号转义-->
		<add key="password" value=""/>
		<!--公司ID 顶层公司 无需变动-->
		<add key="companyId" value="" />
		<!--部门ID 流程对应部门的ID 自行调整   40cfa为测试部门-->
		<add key="departmentId" value="" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<!--反馈相关-->
		<add key="mailHost" value=""/>
		<add key="mailUsername" value=""/>
		<!--邮箱-->
		<add key="mailPassword" value=""/>
		<!--如果启用了独立密码，此处应该填独立密码，不加密 明文-->
		<add key="mailFeedbackTo" value=""/>
		<!--用户点击反馈则发送右键到此邮箱-->
	</appSettings>
</configuration>
